<% @songs.each do |song| %>
  <div class="twelve columns" >
    <div class="three columns">
      <h2> <%= song[:title]  %></h2>
    </div>
    <img src="<%= song[:artwork_url] %>" alt="">
  </div>

  <% end %>